.Ruby {
  display:none; 
  text-align: center;
}

.Python {
  display:none; 
  text-align: center;
}

.Csharp {
  display:none; 
  text-align: center;
}

body {
  text-align: center;
  text-align: center;
}
