.Ruby {
  display:none; 
  text-align: center;
  border: 1px dotted gray; 
  padding: 10px;
}

.Python {
  display:none; 
  text-align: center;
  border: 1px dotted gray; 
  padding: 10px;
}

.Csharp {
  display:none; 
  text-align: center;
  border: 1px dotted gray; 
  padding: 10px;
}

body {
  text-align: center;
  margin: auto;
  width: 85%;
}

img {
  border: 6px solid rgb(240, 198, 205); 
  max-width: 75%;
}
