.Ruby {
  display:none; 
  text-align: center;
  border: 1px solid pink; 
  padding: 10px;
}

.Python {
  display:none; 
  text-align: center;
  border: 1px solid pink; 
  padding: 10px;
}

.Csharp {
  display:none; 
  text-align: center;
  border: 1px solid pink; 
  padding: 10px; 
}

#survey {
  border: 1px solid pink; 
}

body {
  text-align: center;
  margin: auto;
  width: 85%;
}


