.Ruby {
  display:none; 
  text-align: center;
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px;
  background-color: whitesmoke;
}

.Python {
  display:none; 
  text-align: center;
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px;
  background-color: whitesmoke;
}

.Csharp {
  display:none; 
  text-align: center;
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px; 
  background-color: whitesmoke;
}

body {
  font: Arial;
  text-align: center;
  margin: auto;
  width: 85%;
  background: url(/img/moroccan-flower.png)
}

.shortmessage {
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px; 
  font: Times; 
  background-color: whitesmoke;
}

.mysteriousrock {
  padding: 10px;
}

#survey {
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px; 
  background-color: whitesmoke;
}

h1 {
  font-family: 'Cinzel';
}    