.Ruby {
  display:none; 
  text-align: center;
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px;
  background-color: whitesmoke;
}

.Python {
  display:none; 
  text-align: center;
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px;
  background-color: whitesmoke;
}

.Csharp {
  display:none; 
  text-align: center;
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px; 
  background-color: whitesmoke;
}

body {
  font: Arial;
  text-align: center;
  margin: auto;
  width: 85%;
  background: url(/moroccan-flower.jpg)
}

.shortmessage {
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px; 
  font: Times; 
  background-color: whitesmoke;
}

.mysteriousrock {
  padding: 10px;
}

#survey {
  border: 1px solid rgb(238, 210, 214); 
  padding: 10px; 
  background-color: whitesmoke;
}

h1 {
  font-family: 'Cinzel';
}    

h2 {
  font-family: "Times New Roman", Times, serif;
}


h3 {
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: "Times New Roman", Times, serif;
}

.bio {
  cursor: pointer;
}

.mysteriousrock {
  cursor: pointer;
}

p, p:lang(ja-jp) { 
  font-family: serif; 
  font-size: 17px; 
  font-weight: normal; 
  }

  h2 {
  font-family: serif; 
  font-weight: normal; 
  }